@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #213547;
  --bg-color: #ffffff;
  --underline-color: #a743ef;
  --pagination-color: #595959;
  --header-bg: #fff;
  --secondary-text-color: #00000073;
}

.dark {
  --text-color: #f0f0f0;
  --bg-color: #1e1e1e;
  --underline-color: #a743ef;
  --pagination-color: #fff;
  --header-bg: #1e1e1e;
  --secondary-text-color: #fff;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.ant-tabs {
  background-color: var(--bg-color);
}

.ant-tabs-tab {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.ant-tabs-tab-btn {
  color: var(--text-color);
}

.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: var(--text-color);
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: bold;
  color: var(--text-color);
}

.ant-tabs-ink-bar {
  background-color: var(--underline-color);
}

.ant-tabs-extra-content .ant-btn {
  color: var(--text-color);
  border-color: var(--text-color);
}

.dark .ant-tabs {
  background-color: var(--bg-color);
}

.dark .ant-tabs-tab {
  color: var(--text-color);
  border-bottom: 1px solid white;
  background-color: var(--bg-color);
}

.dark .ant-tabs-tab-btn {
  color: var(--text-color);
}

.dark .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: var(--text-color);
}

.dark .ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: bold;
  color: var(--text-color);
}

.dark .ant-tabs-ink-bar {
  background-color: var(--underline-color);
}

.dark .ant-tabs-extra-content .ant-btn {
  color: var(--text-color);
  border-color: var(--text-color);
}

.ant-pagination {
  color: var(--pagination-color);
}

.ant-pagination-item a,
.ant-pagination-prev a,
.ant-pagination-next a {
  color: var(--pagination-color);
}

.ant-pagination-item-active a {
  background-color: var(--pagination-color);
  color: var(--bg-color);
  font-weight: bold;
}

.ant-pagination-disabled a {
  color: var(--pagination-color);
  opacity: 0.5;
}

.ant-pagination-options-size-changer .ant-select-selector {
  color: var(--pagination-color);
  border-color: var(--pagination-color);
}

.ant-typography .ant-typography-secondary {
  color: var(--secondary-text-color);
}
